#transactions-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
}

#transactions-table table thead tr th {
  padding: 10px 20px;
  text-align: left;
}

#transactions-table table tbody tr {
  background-color: #fff;
}

#transactions-table table tbody tr td {
  padding: 10px 20px;
}